<!-- <button (click)="getUnitList()">
  Lista unità
</button>
 -->



<div class="container-unita">
  <div class="unita" *ngFor="let unit of list">
    <h5>{{unit.Unit | uppercase}}</h5>
    <img src="assets/images/{{unit.Unit}}.png">
  </div>
</div>

<hr>

<form>
  <h3 >Add a Unit</h3>
  <div>
    <label for="unit">Unit:</label>
    <input name="unit" #newUnit>
  </div>
  <div>
    <label for="cost">Cost:</label>
    <input name="cost" #newCost>
  </div>
  <div>
    <label for="hit_speed">Hit_Speed:</label>
    <input name="hit_speed" #newHitSpeed>
  </div>
  <div>
    <label for="speed">Speed:</label>
    <input name="speed" #newSpeed>
  </div>
  <div>
    <label for="deploy_time">Deploy Time:</label>
    <input name="deploy_time" #newDeployTime>
  </div>
  <div>
    <label for="range">Range:</label>
    <input name="range" #newRange>
  </div>
  <div>
    <label for="target">Target:</label>
    <input name="target" #newTarget>
  </div>
  <div>
    <label for="count">Count:</label>
    <input name="count" #newCount>
  </div>
  <div>
    <label for="transport">Transport:</label>
    <input name="transport" #newTransport>
  </div>
  <div>
    <label for="type">Type:</label>
    <input name="type" #newType>
  </div>
  <div>
    <label for="rarity">Rarity:</label>
    <input name="rarity" #newRarity>
  </div>
  <button (click)="addUnit(newUnit, newCost, newHitSpeed, newSpeed, newDeployTime, newRange, newTarget, newCount, newTransport, newType, newRarity)">
    Insert new unit
  </button>
</form>

<hr>

<form>
  <h3 >Delete a Unit</h3>
  <label for="id">Choose a unit:</label>
  <br>
  <select id="id" #HTMLid>
    <option *ngFor="let unit of list" [value]="unit.ID">{{unit.Unit}}</option>
  </select>
  <button (click)="deleteUnit(HTMLid)">
    Delete unit
  </button>
</form>
